.App {
    text-align: center;
  }
  
  .form-container,
  .company-list,
  .chart-container {
    margin: 20px auto;
    width: 80%;
    max-width: 800px;
  }
  
  .company-list ul {
    list-style-type: none;
    padding: 0;
  }
  
  .company-list li {
    text-align: left;
    padding: 5px 0;
  }
  
  .chart-container {
    margin-top: 40px;
  }
  